@charset "UTF-8";

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    background-color: #f4f7f6;
    color: #333;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    background-color: #ffffff;
    padding: 2rem 3rem;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
}

h1 {
    color: #0056b3;
    text-align: center;
    margin-bottom: 2rem;
    font-weight: 600;
}

form div {
    margin-bottom: 1.5rem;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    color: #555;
    font-weight: 500;
}

input[type="file"] {
    width: 100%;
    padding: 10px;
    border: 2px dashed #007bff;
    border-radius: 8px;
    background-color: #f8f9fa;
    color: #555;
    cursor: pointer;
    transition: border-color 0.3s, background-color 0.3s;
}

input[type="file"]::file-selector-button {
    padding: 0.5rem 1rem;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    transition: background-color 0.3s;
}

input[type="file"]::file-selector-button:hover {
    background-color: #0056b3;
}

input[type="file"]:hover {
    border-color: #0056b3;
    background-color: #e9ecef;
}

.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

button {
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    color: white;
}

button[type="submit"] {
    background-color: #28a745; /* Green */
}

button[type="submit"]:hover {
    background-color: #218838;
    transform: translateY(-2px);
}

#ETLProcessButton {
    background-color: #6c757d; /* Gray */
}

#ETLProcessButton:hover {
    background-color: #5a6268;
    transform: translateY(-2px);
}

button:disabled {
    background-color: #adb5bd;
    cursor: not-allowed;
    transform: none;
}
